@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020c36; 
  --foreground: #ffffff;
  
  --background-color-1: #1a1c22;
  --background-color-2: #2a2e38;
  --background-color-3: #ff004f;
  --background-color-4: #f8f8f8;
  
  --transparent: rgba(0, 0, 0, 0);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at bottom right, #160f30, #000000);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}
